<script src="/js/dashboard.js"></script>

{{#each posts as |post|}}
  <div class="dashPost" onclick="onClickPost({{post.id}})">
    <div>
    <p>{{post.title}}</p>
    <p>{{post.date}}</p>
    </div>
  </div>
{{/each}}
<button class="btn" id="createPostButton" onclick="addNewPost()">+ New Post</button>