<h1>Test</h1>
<div class="post">
<input type="text" id="titleEdit" value="{{post.title}}"></input>
<input type="text" id="contentEdit" value="{{post.contents}}"></input>
<p>{{post.userName}}</p>
<p>{{post.date}}</p>
</div>
<button class="btn" id="edit-btn">Update Post</button>
<button class="btn" id="delete-btn">Delete</button>
