<div class="post newPost" id="post">
  <div class="postTitle">
      <input type="text" id="newTitle" placeholder="Enter Title Here" value=""></input>
    </div>
    <textarea rows="20" cols="50" type="text" placeholder="Enter Post Content Here" id="newContent"></textarea>
</div>
<button class="btn" id="create-btn">Create Post</button>

<script src="/js/newPost.js"></script>