<!--Handlebars for signup page-->
<h2 id="signUpText">Create new account</h2>
<p id="info">Password must be at least 8 characters!</p>
<form class="form login-form" id="inputForm">
  <div class="form-group">
    <label for="user-login">UserName:</label>
    <input class="form-input" type="text" id="user-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" id="sign-up-btn" type="submit">Sign Up</button>
  </div>
</form>

<script src="/js/signup.js"></script>